@{
  Layout = "_Layout";
}

<div class="container">
<h2>@Model["stylist"].GetName()</h2>
<h3>@Model["stylist"].GetName()'s clients</h3>
<ul>
@foreach (var client in Model["clients"])
{
<li>@client.GetName() <a href = "/clients/delete/@client.GetId()" class="btn btn-danger">Delete</a></li>
}

</ul>
<a href = "/stylists/@Model["stylist"].GetId()/new">Add a client</a>


<hr />
@if (@Model["stylistSpecialities"].Count != 0)
{
  <ul>
  <h3>This stylist is specialized in these specialities.</h3>
    @foreach (var speciality in @Model["stylistSpecialities"])
    {
      <li>@speciality.GetDescription()</li>
    }
  </ul>
}

<h4>Add speciality to this stylist:</h4>
<form action='/stylists/@Model["stylist"].GetId()/specialities/new' method='post'>
  <label for='speciality-id'>Select a speciality</label>
  <select id='speciality-id' name='speciality-id' type='text'>
    @foreach (var speciality in @Model["allSpecialities"])
    {
      <option value='@speciality.GetId()'>@speciality.GetDescription()</option>
    }
  </select>
  <button type='submit' class = 'btn btn-danger' >Add Stylist</button>
</form>
</div>
